jq
fzf
build-essential
ninja-build
libvulkan-dev
spirv-tools
libstdc++-10-dev
libxrandr-dev
libx11-dev
libgl1-mesa-dev
libxcursor-dev
libxinerama-dev
libxi-dev
libboost-atomic-dev
libopenvdb-dev
libghc-memory-dev
libtbb-dev
libglfw3
libwayland-bin
libxcb-ewmh2
libjemalloc-dev
python3-openvdb
